<center>


        <div class="textOverImage">
                <img  src="https://www.australiancruisegroup.com.au/data/subcategory/000029_8a53e64c/acg-sightseeing-banner.jpg"  height="50%"
                width="100%" />
                <div class="centered">Welcome To Sydney</div>
         </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4  class="modal-title" id="exampleModalLabel"><b class="font" align="center">{{alert_name}}</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            
                <div class="modal-body">
                    <!-- <div class = "single-img" ng-repeat="x in records"> -->
                        <div align="left">
                    <b class="font">Category</b> : {{alert_category}}
                    <br>
                    <b class="font">Rank</b> : {{ alert_RANK}}
                    <br>
                    <b class="font">Number of views</b> : {{alert_NOV}}
                    <br>
                    <b class="font">Number of review</b> : {{alert_NOR}}
                    <br>
                    <b class="font">Description</b> : {{alert_desc}}
                    <br>
                    <br>
                </div>
                    <h4><b class="font">Last 2 reviews</b></h4>
                    <p align="center" ng-repeat="poi in twoLastReview">
                        <b class="font">Review</b> : {{ poi.REVIEW }}<br>
                        <b  class="font">Date</b> : {{poi.DATE.substr(0,10)}}
                        <br>
                        <br>
                    </p>
                    {{alert_reviews}}
                    <br>
                    <br>
                    <img height="300" width="450" ng-src={{alert_image}}>
                    <br>
                    <br>


                    <input  class="input" type="text"
                            name="rank_input"
                            style="width: 100px; height: 30px; margin-top: 20px; margin-bottom: 20px;"
                            id="rank_input"
                            placeholder="Enter rank"
                            ng-model="homeCtrl.rank_input"/>
                    <input class="input" type="text"
                            name="review_input"
                            style="width: 300px; height: 30px; margin-top: 20px; margin-bottom: 20px;"
                            id="review_input"
                            placeholder="Enter review"
                            ng-model="homeCtrl.review_input"/>
                    <br>

                    <p style="color:red">{{alert_addReview}}</p>


                    <button id="button" ng-click="homeCtrl.AddReview()" type="button" class="btn btn-primary">Add review</button>
            
                </div>
            </div>
        </div>
    </div>
<br>
    <div  class="secondTitle"ng-show="isGuest" > Places your must visit</div>
    <br>
    <div class="font" align="center" ng-repeat="poi in random3POIlist" ng-show="isGuest">       
        <div class="textOverImage">
            <img class="active" data-toggle="modal" data-target="#exampleModal" ng-click="homeCtrl.showAllInformation(poi)" height="600" alt="Snow" style="width:80%;" ng-src="{{ poi.IMAGE }}" />
            <div class="bottom-left" >
            <button style="font-size : 20px; background:none; border:none; margin:0; padding:0; cursor: pointer" ng-click="homeCtrl.showAllInformation(poi)" data-target="#exampleModal" data-toggle="modal"> {{ poi.NAME }}</button><br />
           Rank: {{ poi.RANK }}<br />
        </div>
        </div>
    </br>
    </br>
    </br>   
    </div>

<h2 class="secondTitle" ng-show="!isGuest">Two Last Saved Points</h2>
<br>
<div class="font" align="center" ng-repeat="poi in twoLastSavedPoints" ng-show="!isGuest">
    <div class="textOverImage">
        <img class="active" data-toggle="modal" data-target="#exampleModal" ng-click="homeCtrl.showAllInformation(poi)" height="600" alt="Snow" style="width:80%;" ng-src="{{ poi.IMAGE }}" />
        <div class="bottom-left" >
        <button style="font-size : 20px; background:none; border:none; margin:0; padding:0; cursor: pointer" ng-click="homeCtrl.showAllInformation(poi)" data-target="#exampleModal" data-toggle="modal"> {{ poi.NAME }}</button><br />
        Rank: {{ poi.RANK }}<br />
    </div>
    </div>
</br>
</br>
</br>   
</div>
   <p class="font" >{{ thereIsNoSavedPointsMessage }}</p>
<br>
<br>

<h1 class="secondTitle" ng-show="!isGuest">Two Most Popular Points</h1>
<br>
<div class="font" align="center" ng-repeat="poi in twoMostPopularPoints"ng-show="!isGuest">
        <div class="textOverImage">
            <img class="active" data-toggle="modal" data-target="#exampleModal" ng-click="homeCtrl.showAllInformation(poi)" height="600" alt="Snow" style="width:80%;" ng-src="{{ poi.IMAGE }}" />
            <div class="bottom-left" >
             <button style="font-size : 20px; background:none; border:none; margin:0; padding:0; cursor: pointer" ng-click="homeCtrl.showAllInformation(poi)" data-target="#exampleModal" data-toggle="modal"> {{ poi.NAME }}</button><br />
           Rank: {{ poi.RANK }}<br />
        </div>
        </div>
    </br>
    </br>
    </br>   
    </div>
</p>
<br>

</center>
