
<!-- display button functionality -->

<center>

        <img
        height="30%"
        width="100%"
        src="https://in.sydney.com/sites/international/files/styles/header_slider/public/2016-12/SydneyHarbour.jpg?itok=FcLuJqfo"
      />
<form class= "forgot-form" name="form" role="form">
    <div id="firstdiv">
    <div class="form-group" ng-class="{ 'has-error': form.USER_NAME.$dirty && form.USER_NAME.$error.required }">
            <br><br>
        <h3 class="font" for="USER_NAME">Please insert your username below</h3>
        <br>
        <input  type="text"
                name="USER_NAME"
                style="width: 350px; height: 30px; margin-top: 20px; margin-bottom: 20px;"
                id="USER_NAME" class="form-control"
                ng-model="forgotPassCtrl.USER_NAME"
                placeholder="Enter Username"
                autocomplete="off"
                required/>
    </div>
    <p style="color:red">{{alert_user}}</p>


    <br/>
    <a  href="" class="btn btn-primary" type="submit" class="btn btn-primary"
        id="button" ng-click="forgotPassCtrl.getRandomQuestion()">OK</a>
    </div>

    <div id="seconddiv" display: none>
    <div class="form-group" ng-class="{ 'has-error': form.answer.$dirty && form.answer.$error.required }">
        <br><br>
        <h3 class="font">{{ques.QUESTION_ID}}</h3><br>
        <input  type="text"
                name="answer"
                style="width: 350px; height: 30px; margin-top: 20px;"
                id="answer" class="form-control"
                placeholder="Enter your answer"
                autocomplete="off"
                ng-model="forgotPassCtrl.answer" required/>
    </div>

    <p style="color:red">{{alert_answer}}</p>

    <br/>
    <a  href=""  id="button" class="btn btn-primary" type="submit" class="btn btn-primary"
        ng-click="forgotPassCtrl.RetrievePassword()">Click here to get your password</a>

    <label class="font">{{password}}</label><br>
    </div>
</form>
</center>