
<!-- display button functionality -->


<form class= "forgot-form" name="form" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.USER_NAME.$dirty && form.USER_NAME.$error.required }">
        <label for="USER_NAME">Enter your user name to get question to restore your password and then press OK</label>
        <input  type="text"
                name="USER_NAME"
                style="width: 350px; height: 30px; margin-top: 20px; margin-bottom: 20px;"
                id="USER_NAME" class="form-control"
                ng-model="forgotPassCtrl.USER_NAME"
                placeholder="Enter Username"
                autocomplete="off"
                required/>
        <span ng-show="form.USER_NAME.$dirty && form.USER_NAME.$error.required" class="help-block">Username is required</span>
    </div>


    <a  href="" class="btn btn-link" type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
        ng-click="forgotPassCtrl.getRandomQuestion()">OK</a>

    <div class="form-group" ng-class="{ 'has-error': form.answer.$dirty && form.answer.$error.required }">
        <label>{{ques.QUESTION_ID}}</label><br>
        <input  type="text"
                name="answer"
                style="width: 350px; height: 30px; margin-top: 20px;"
                id="answer" class="form-control"
                placeholder="Enter your answer"
                autocomplete="off"
                ng-model="forgotPassCtrl.answer" required/>
        <span ng-show="form.answer.$dirty && form.answer.$error.required" class="help-block">answer is required</span>
    </div>


    <a  href="" class="btn btn-link" type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
        ng-click="forgotPassCtrl.RetrievePassword()">Click here to get your password</a>

    <label>{{password}}</label><br>
</form>