<center>
  <div class="textOverImage">
    <img
      height="30%"
      width="100%"
      src="   https://in.sydney.com/sites/international/files/styles/header_slider/public/2016-12/Toowoon-Bay-Central-Coast-Image-Destination-NSW.jpg?itok=YW98BF56"
    />
    <div class="centered">FAVORITE POINTS</div>
  </div>
  <br />

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">
            <b class="font" align="center">{{ alert_name }}</b>
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <div class = "single-img" ng-repeat="x in records"> -->
          <b>Category</b> : {{ alert_category }}
          <input
            class="star"
            type="checkbox"
            title="Favorite"
            ng-show="$root.userLoggedIn"
            ng-click="updateFavoritesPoints(POINTid)"
            ng-checked="fav"
          />
          <br />
          <div align="left">
            <b class="font">Rank</b> : {{ alert_RANK }}
            <br />
            <b class="font">Number of views</b> : {{ alert_NOV }}
            <br />
            <b class="font">Number of review</b> : {{ alert_NOR }}
            <br />
            <b class="font">Description</b> : {{ alert_desc }}
            <br />
            <br />
          </div>
          <h4><b class="font">Last 2 reviews</b></h4>
          <p align="center" ng-repeat="poi in twoLastReview">
            <b class="font">Review</b> : {{ poi.REVIEW }}<br />
            <b class="font">Date</b> : {{ poi.DATE.substr(0, 10) }}
            <br />
            <br />
          </p>
          {{ alert_reviews }}
          <br />
          <br />
          <img height="300" width="450" ng-src="{{ alert_image }}" />
          <br />
          <br />

          <input  class="input"
            type="text"
            name="rank_input"
            style="width: 100px; height: 30px; margin-top: 20px; margin-bottom: 20px;"
            id="rank_input"
            placeholder="Enter rank"
            ng-model="favoriteCtrl.rank_input"
          />
          <input  class="input"
            type="text"
            name="review_input"
            style="width: 300px; height: 30px; margin-top: 20px; margin-bottom: 20px;"
            id="review_input"
            placeholder="Enter review"
            ng-model="favoriteCtrl.review_input"
          />
          <br />

          <p style="color:red">{{ alert_addReview }}</p>

          <button  id="button"
            ng-click="favoriteCtrl.AddReview()"
            type="button"
            class="btn btn-primary"
          >
            Add review
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <h1 class="secondTitle">Wish List</h1>
  <img style="width: 40px; height: 40px;" src="https://png.pngtree.com/svg/20161202/e7f5a90a9e.svg" /><br />
  <br />
  <div class="font" align="center" ng-repeat="poi in existingFavList">
      <div class="textOverImage">
            <img
            data-toggle="modal"
            data-target="#exampleModal"  ng-click="favoriteCtrl.showAllInformation(poi)"   height="600" alt="Snow" style="width:80%;"
            ng-src="{{ poi.IMAGE }}"
          />
        <div class="bottom-left">
          <button style="font-size : 20px; background:none; border:none; margin:0; padding:0; cursor: pointer" ng-click="favoriteCtrl.showAllInformation(poi)" data-target="#exampleModal" data-toggle="modal"> {{ poi.NAME }}</button><br />
              Rank: {{ poi.RANK }}<br />
        </div>
      </div>
    </br>
</br>
</br>   
  </div>

  <br />

  <a
    id="button"
    href=""
    class="btn btn-primary"
    type="submit"
    class="btn btn-primary"
    ng-click="favoriteCtrl.saveFavoritePointsToServer()"
    ng-show="thereIsFavoritePoints"
    >Save new points to favorites</a>
    <p class="font" >{{ thereIsNoFavoritePointsMessage }} </p>

  <br />
  <br />
  <br />
  <br />
  <h1 class="secondTitle">All Saved Points</h1>

  <img
    style="width: 40px; height: 40px;"
    src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/256/star-full-icon.png"
  /><br />
  <br />
  <br />

  <div class="font" align="center" ng-repeat="poi in allSavedPoints">
    <div class="textOverImage">
      <img
        class="active"
        data-toggle="modal"
        data-target="#exampleModal"
        ng-click="favoriteCtrl.showAllInformation(poi)"
        height="600"
        alt="Snow"
        style="width:80%;"
        ng-src="{{ poi.IMAGE }}"
      />
      <div class="bottom-left">
        <button style="font-size : 20px; background:none; border:none; margin:0; padding:0; cursor: pointer" ng-click="favoriteCtrl.showAllInformation(poi)" data-target="#exampleModal" data-toggle="modal"> {{ poi.NAME }}</button><br />
        Rank: {{ poi.RANK }}<br />
      </div>
    </div>

    <br> new Position: &nbsp; &nbsp;
    <select type="text"
            class="form-control"
            name="category"
            style="width: 100px; height: 30px; margin-top: 20px; margin-bottom: 20px; display:inline-block"
            id="{{poi.POI_ID}}"
            ng-options=" o.id for o in rankList | filterChosenPOIS:poi.POI_ID "
            ng-model="item" 
            ng-change="update(item,poi.POI_ID)"
           
            required>
    </select>
  </div>

  <div class="form-actions">
    <button
      id="font"
      class="btn btn-link"
      class="btn btn-primary"
      type="button"
      ng-show="thereIsSavedPoints"
      ng-click="favoriteCtrl.changePoisOrder()"
    >
      save new order
    </button>

    <p class="font">{{ thereIsNoSavedPointsMessage }} </p>

  </div>
</center>
