<select type="text"
        class="form-control"
        name="categoryToFilter"
        style="width: 350px; height: 30px; margin-top: 20px; margin-bottom: 20px;"
        id="categoryToFilter"
        ng-model="POICtrl.categoryToFilter"
        ng-change ="filterByCategory()"
        required>
    <option  ng-repeat="cat in allcategories.poi" value="{{cat.CATEGORY}}">
        {{cat.CATEGORY}}
    </option>
</select>


    <div ng-repeat="poi in poisToShowAfterOrder">
        *****************************************
        {{poi.name}}
        *****************************************

        <p ng-repeat="i in poi.elements">
            POI Name: {{ i.NAME }}<br>
            POI Rank: {{ i.RANK }}<br>
            POI Category: {{ i.CATEGORY }}<br>
            <img height="400" width="600" ng-src="{{ i.IMAGE }}">
    </p>
    </div>


